*.log

# sbt specific
.cache
.lib/
.bsp/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
credentials.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
# vscode specific
.lh
.vscode
.bloop
.metals
metals.sbt